<app-navbar></app-navbar>

<app-sidebar></app-sidebar>

<div class="home-section">


  <div class="h-full w-full p-4">
    <h2 class="title text-white font-medium text-lg font-bold">
      Meu perfil
    </h2>

    <div>
      <form class="h-full w-full" [formGroup]="userForm" *ngIf="userForm">
        <div>
          <div class="">
            <div class="col-span-3">
              <label class="block text-sm text-white" for="name">Nome</label>
              <input
                formControlName="name"
                class="default-input w-full p-2.5"
                type="text"
                id="name"
                aria-label="name"
                required
              />
            </div>

          </div>

          <div class="grid grid-cols-4">

            <div class="col-span-2 mr-4">
              <label class="block text-sm text-white" for="cpf">Cpf</label>
              <input
                formControlName="cpf"
                class="default-input w-full p-2.5"
                type="text"
                id="name"
                aria-label="name"
                required
              />
            </div>

            <div class="col-span-2">
              <label class="block text-sm text-white" for="email">E-mail</label>
              <input
                formControlName="email"
                class="default-input w-full p-2.5"
                type="email"
                id="email"
                placeholder="Email"
                aria-label="email"
                required
              />
            </div>
          </div>

        </div>
      </form>

    </div>

  </div>
</div>
