<!-- <div id="default-sidebar" class="flex h-screen sidebar" aria-label="Sidebar">
  <div class="h-full px-3 py-4 overflow-y-auto">
     <ul class="space-y-2 font-medium">
        <li>
          <a routerLink="/profile" routerLinkActive="active" class="flex items-center p-2 text-white rounded-lg hover:bg-green-400 hover:text-black">
            <mat-icon class="hover:text-black">account_circle</mat-icon>
            <span class="hover:text-black ml-3 whitespace-nowrap">Meu perfil</span>
          </a>
        </li>
        <li>
           <a routerLink="/user" routerLinkActive="active" class="flex items-center p-2 text-white rounded-lg hover:bg-green-400 hover:text-black">
              <mat-icon class="hover:text-black">person</mat-icon>
              <span class="hover:text-black ml-3">Usuários</span>
           </a>
        </li>
     </ul>
  </div>
</div> -->

<!-- img/beams.jpg -->

<div class="sidebar">
  <div class="logo-details">
    <!-- <i class='bx bxl-angular'></i> -->
    <div class="logo_name">Basic Front</div>
    <i (click)="openMenu()" class="bx bx-menu" id="btn"></i>
  </div>
  <ul class="nav-list">
    <li>
      <i class="bx bx-search"></i>
      <input type="text" placeholder="Search..." />
      <span class="tooltip">Search</span>
    </li>
    <!-- <li>
      <a href="#">
        <i class="bx bx-grid-alt"></i>
        <span class="links_name">Dashboard</span>
      </a>
      <span class="tooltip">Dashboard</span>
    </li> -->
    <li>
      <a routerLink="/profile" routerLinkActive="active">
        <i class="bx bx-user"></i>
        <span class="links_name">Profile</span>
      </a>
      <span class="tooltip">Profile</span>
    </li>
    <li>
      <a routerLink="/user" routerLinkActive="active">
        <i class='bx bxs-user-detail'></i>
        <span class="links_name">User</span>
      </a>
      <span class="tooltip">User</span>
    </li>
    <!-- <li>
      <a href="#">
        <i class="bx bx-chat"></i>
        <span class="links_name">Messages</span>
      </a>
      <span class="tooltip">Messages</span>
    </li> -->
    <!-- <li>
      <a href="#">
        <i class="bx bx-pie-chart-alt-2"></i>
        <span class="links_name">Analytics</span>
      </a>
      <span class="tooltip">Analytics</span>
    </li> -->
    <!-- <li>
      <a href="#">
        <i class="bx bx-folder"></i>
        <span class="links_name">File Manager</span>
      </a>
      <span class="tooltip">Files</span>
    </li> -->
    <!-- <li>
      <a href="#">
        <i class="bx bx-cart-alt"></i>
        <span class="links_name">Order</span>
      </a>
      <span class="tooltip">Order</span>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-heart"></i>
        <span class="links_name">Saved</span>
      </a>
      <span class="tooltip">Saved</span>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-cog"></i>
        <span class="links_name">Setting</span>
      </a>
      <span class="tooltip">Setting</span>
    </li> -->
    <li class="profile">
      <div class="profile-details">
        <!--<img src="profile.jpg" alt="profileImg">-->
        <div class="name_job">
          <div class="name">Guilherme Barbosa</div>
          <div class="job">Dev Full Stack</div>
        </div>
      </div>
      <i (click)="logout()" class="bx bx-log-out" id="log_out"></i>
    </li>
  </ul>
</div>
<!-- <section class="home-section">
  <div class="text">Dashboard</div>
</section> -->
