@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
label{color: #000000 !important;
 padding: 7px 0px 3px 0px !important;}

.title{
  color: #000000 !important
}

.m-2{
  margin: 5px !important;
}

.default-input{
  background-color: #f7f7f7;
  border: 1px solid #bdbdbd;
  color: #202020;
  font-size: medium;
  border-radius: 5px;
  display: block;
}

.default-input:focus{
  border: 1px solid #0037ff !important;
}

.primary-color-text{
  color: #4862c3;
}

.primary-color-bg{
  background-color: #4862c3;
}

.bg-default{
  background-color: #11101d;
}

.bg-button-green{
  background-color: #45FF79;
  color: black;
}

.text-color-primary{
  color: #45FF79
}

.sidebar, .navbar{
  background-color: #4862c3;
}

.home-section {
  position: relative;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section {
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}
